[submodule "molecule-js-env"]
	path = molecule-js-env
	url = ../Molecule-JS-env.git
[submodule "molecule-benchmarks"]
	path = molecule-benchmarks
	url = ../molecule-benchmarks.git
[submodule "vsandbox-runtime"]
	path = vsandbox-runtime
	url = ../vsandbox-runtime.git
[submodule "runc"]
	path = runc
	url = ../runc.git
[submodule "forkable-python-runtime"]
	path = forkable-python-runtime
	url = ../rfork-python-runtime.git
[submodule "xpu-shim"]
	path = xpu-shim
	url = ../moleculeos.git
[submodule "moleculeruntimeclient"]
	path = moleculeruntimeclient
	url = ../MoleculeRuntimeClient.git
[submodule "functionBench"]
	path = functionBench
	url = ../serverless-faas-workbench.git
[submodule "pychain"]
	path = pychain
	url = ../pychain.git
